@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This is a simple ASP.NET Core MVC Web App that can be used to encrypt or decrypt text using a Caesar Cipher.<br />
    The simplicity of a Caesar Cipher means there is almost no security in these encryptions. This application is merely an exercise. </p>
<p>This web app was created as an exercise with the ASP.NET Core MVC Framework, and an exercise in simple encryption and decryption.</p>
