@{
    ViewData["Title"] = "Privacy";
}
<h2>@ViewData["Title"]</h2>

<p>The only cookie in this application is the consent cookie once you click "Accept".</p>
<p>Because of this, the cookie banner that shows by default was disabled and thus no cookies are used. This page can only be accesed directly.</p>
<p>This page and the default _CookieConsentPartial.cshtml were left in to be implemented if any cookies are used in the future.</p>